<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/styles.css" />
  </head>
  <body>
   <div id="wrapper">
     <div id="header">
       <h3>Cats</h3>
     </div><!--end of header-->
    <div id="sidebar">
    </div><!--end of sidebar-->
    <div id="content">
      <img src="../images/book.jpg" />
    </div><!--end of content-->
  </div><!--end of wrapper-->
  </body>
</html>
