<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New book</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/styles.css" />
  </head>
  <body>
   <div id="wrapper">
     <div id="header">
     </div><!--end of header-->
    <div id="sidebar">
    </div><!--end of sidebar-->
    <div id="content">
      <h3>Add new book: </h3>
      <form action="#" method="post">
        <label for="type">Type: <input type="text" name="type"></label>
        <label for="type">Color: <input type="color" name="color" ></label>
        <input type="submit" name="submit" value="Submit">
      </form>
    </div><!--end of content-->
  </div><!--end of wrapper-->
  </body>
</html>
